.bouncing-text {
     position: absolute;
     top: 35%; /* Adjust the vertical position of the bouncing text */
     left: 50%;
     transform: translate(-50%, -50%);
     transform: translate(-50%, 50%); /* Adjust to make it slightly lower */
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 70px;
     font-weight: 900;
     /* font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;  */
 }
 
 .body {
     background-color: rgb(61, 0, 0);
 }
 

 .container {
     position: relative; /* Ensure the container is positioned relative */
     min-height: 100vh; /* Set a minimum height to fill the viewport */
 }
 
 h2 {
     position: absolute; /* Position the h2 element absolutely */
     bottom: 0; /* Position it at the bottom */
     left: 50%; /* Optionally, align it to the left */
     margin-bottom: 20px; /* Add some margin for spacing */
     color: white;
 }

 .tut-btn {
     color: #2256e7;
 }
 
   
   .b, .o, .u, .n, .c, .e {
     position: relative;
     color: #2256e7;
     /* text-shadow: 0 3px #4361ee, 0 5px #4361ee, 0 7px #4361ee; */
   }
   
   .b {
     animation: bounce 1s ease infinite;
     -webkit-animation: bounce 1s ease infinite;
   }
   
   .o {
     animation: bounce 1s ease infinite .1s;
     -webkit-animation: bounce 1s ease infinite .1s;
   }
   
   .u {
     animation: bounce 1s ease infinite .2s;
     -webkit-animation: bounce 1s ease infinite .2s;
   }
   
   .n {
     animation: bounce 1s ease infinite .3s;
     -webkit-animation: bounce 1s ease infinite .3s;
   }
   
   .c {
     animation: bounce 1s ease infinite .4s;
     -webkit-animation: bounce 1s ease infinite .4s;
   }
   
   .e {
     animation: bounce 1s ease infinite .5s;
    -webkit-animation: bounce 1s ease infinite .5s;
   }
   
    @keyframes bounce {
           0%   { transform: scale(1,1) translateY(0); }
           10%  { transform: scale(1.1,.9) translateY(0); }
           30%  { transform: scale(.9,1.1)   translateY(-55px);}
           50%  { transform: scale(1.05,.95) translateY(0); }
           58%  { transform: scale(1,1) translateY(-7px); }
           65%  { transform: scale(1,1) translateY(0);}
           100% { transform: scale(1,1) translateY(0);}
       }
   
   @-webkit-keyframes bounce {
          0%   { transform: scale(1,1) translateY(0); }
           10%  { transform: scale(1.1,.9) translateY(0); }
           30%  { transform: scale(.9,1.1)   translateY(-55px);}
           50%  { transform: scale(1.05,.95) translateY(0); }
           58%  { transform: scale(1,1) translateY(-7px);}
           65%  { transform: scale(1,1) translateY(0);}
           100% { transform: scale(1,1) translateY(0);} 
   }
   

.Buttons {
     position: absolute;
     top: 65%; /* Adjust the vertical position of the buttons */
     left: 50%;
     transform: translate(-50%, -50%);
}

 .h-button {
     background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 10px; /* Rounded corners */
     font-family: sans-serif;
 }

 .h-button:hover {
     background-color: #45a049; /* Darker green */
 }
 