html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

.text-shit {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.75);
	border: 0px solid;
	display: table;
}
